<?xml version='1.0' encoding='utf-8'?>
<plugin id="owt.sample.conference.intelwebrtcplugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>intelwebrtcplugin</name>
    <js-module name="intelwebrtc_plugin" src="www/intelwebrtcplugin.js">
        <clobbers target="intelwebrtcplugin" />
    </js-module>
    <platform name="ios">
        <hook src="scripts/hook.js" type="after_plugin_install" />
        <hook src="scripts/embed_framework_hook.js" type="before_build" />
        <config-file parent="/*" target="config.xml">
            <feature name="intelwebrtcplugin">
                <param name="ios-package" value="intelwebrtcplugin" />
            </feature>
        </config-file>
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Using camera for video chat.</string>
        </config-file>
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>Using mic for voice and video chat.</string>
        </config-file>
        <resource-file src="src/ios/conference/Base.lproj/Main.storyboard" />
        <source-file src="src/ios/conference/Intelwebrtcplugin.h" />
        <source-file src="src/ios/conference/Intelwebrtcplugin.m" />
        <source-file src="src/ios/conference/AppDelegate+Intelwebrtcplugin.h" />
        <source-file src="src/ios/conference/AppDelegate+Intelwebrtcplugin.m" />
        <source-file src="src/ios/conference/ConferenceConnectionViewController.h" />
        <source-file src="src/ios/conference/BrightenFilter.h" />
        <source-file src="src/ios/conference/ConferenceStreamViewController.h" />
        <source-file src="src/ios/conference/FileAudioFrameGenerator.h" />
        <source-file src="src/ios/conference/HorizontalSegue.h" />
        <source-file src="src/ios/conference/StreamView.h" />
        <source-file src="src/ios/conference/BrightenFilter.m" />
        <source-file src="src/ios/conference/ConferenceConnectionViewController.m" />
        <source-file src="src/ios/conference/ConferenceStreamViewController.m" />
        <source-file src="src/ios/conference/FileAudioFrameGenerator.m" />
        <source-file src="src/ios/conference/HorizontalSegue.m" />
        <source-file src="src/ios/conference/StreamView.m" />
        <framework src="VideoToolbox.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="MetalKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libc++.tbd" />
        <framework src="libicucore.tbd" />
        <framework src="libsqlite3.0.tbd" />
        <framework src="AFNetworking" type="podspec" spec="~> 2.0" />
        <source-file framework="true" src="src/ios/libs/libsioclient_tls.a" />
    </platform>
</plugin>
